:root {
    --button-color: #ffc445;
    --button-color-highlight: #d3954e;
    --text-color: #ffffff;
    --text-color-2: rgb(231, 231, 189);
    --text-color-3: rgb(190, 190, 186);
    --background-color: #29272F;
    --background-color-2: #1d1c21;
    --navbar-color: #6C6471;
    --footer-color: #5a555c;
    --card-bg: rgba(108, 100, 113,0.5);
}


html {
    box-sizing: border-box;
    font-size: 100%;
    background: var(--background-color);
}

*,*::before,*::after{
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    align-items: center; 
    display: flex; 
    flex-direction: column;
    height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
    max-width: 50%;
    object-fit: contain;
}

h1 {
    color: var(--text-color);
    font-size: 3rem; 
    font-weight: bold;
    line-height: 1.4;
    margin: 0;
}

h2 {
    color: var(--text-color);
    font-size: 2rem; 
    font-weight: bold;
    line-height: 1.4;
    margin: 0;
}

h3 {
    color: var(--text-color);
    font-size: 1.5rem; 
    font-weight: bold;
    line-height: 1.4;
    margin: 0;
}

p {
    color: var(--text-color-3);
    font-size: 1rem; /* or whatever size you want */
    font-weight: normal;  /* adjust weight to match */
    line-height: 1.4;
    margin-bottom: 10px;
}

figcaption {
    color: var(--text-color-2);
}

#header {
    text-align: center;
    color: white;
    width: 100%;
}

#footer {
    text-align: center;
    padding: 10px;
    color: white;
    width:100%;
    background-color: var(--footer-color);
}

.intro, .about-me, .project-intro, .project-details-1, .project-details-2 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.project-intro {
    padding-top: 0px;
}
.about-me, .project-details-1 {
    background-color: var(--background-color-2);
    text-align: center;
}

.about-me-img {
    aspect-ratio: 4 / 3;
    max-width: 100%;
    height: auto;
    gap: 10px;
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    justify-content: space-between;          
    max-width: 60%;  
    gap: 20px;                    
}

.content > * {
    flex: 1;                        
    margin: 0 10px;                
}

.text-image-pair {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px; 
    margin-top: 2em;
    margin-bottom: 2em;
}

.navbar {
    background: var(--navbar-color);
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    margin: 0;
    font-size: 24px;
}

.navbar p {
    margin: 0;
    font-size: 18px;
}

.navbar a {
  color: inherit;
  margin: 0 10px;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
  color: var(--text-color-2)
}

.social-icons a {
  color: inherit;
  margin: 0 10px;
  text-decoration: none;
}

.social-icons a:hover {
  color: var(--text-color-2)
}

.projects-page {
    margin-top: 10px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 20px;
    max-width: 80%;
    margin: auto;
}

.project-card {
    background: var(--card-bg);
    padding: 15px;
    text-decoration: none;
    color: var(--text-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.project-subtitle {
    color: var(--text-color-3);
}

.project-card img {
    width: 100%;
    border-radius: var(--border-radius);
}

.project-card:hover {
    transform: scale(1.05);
}

.project-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
    flex-wrap: wrap; /* Allow wrapping on small screens */
    background-color: var(--background-color); /* Optional */
}

.icon-button {
    position: absolute;
    left: 1rem;
    font-size: 1.8rem;
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.project-title h1 {
    text-align: center;
    font-size: clamp(1.5rem, 5vw, 2rem);
    margin: 0;
}

iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
    max-width: 100%;
}

.play-now{
    background-color: var(--button-color);
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--background-color);
    padding: 20px 40px 20px 40px;
    margin-top: 20px;
    border-radius: 40px;
}

.play-now:hover {
    background-color: var(--button-color-highlight);
}

